<ion-content> 

  <div class="menu"><img src="assets/menu/menu.svg" (click)="openFirst()" alt="menu"></div>

  <div class="header-bg">

    <div class="primeiros-soc"><img src="assets/titulo/ranking.svg"></div>
  </div>

    <div class="nav">
      <img src="assets/ranking/pessoal-r.svg" (click)="showPessoal()"> 
      <img src="assets/ranking/equipe.svg"> 
    </div>

    <div class="header-content">  
      <div class="sua-equipe"><img src="assets/ranking/sua-equipe.svg"></div>
      <h1>#103</h1>
    </div>
  
    <div class="rank-geral">
      <div class="user">
        <img src="assets/ranking/pp-outros.svg">
        <ion-label class="rank">  
          <h1>#1</h1>
          <h2>Equipe Dallas</h2>
        </ion-label>
      </div>
      <div class="user">
        <img src="assets/ranking/pp-outros2.svg">
        <ion-label class="rank">  
          <h1>#2</h1>
          <h2>Equipe </h2>
        </ion-label>
      </div>
      <div class="user">
        <img src="assets/ranking/pp-outros3.svg">
        <ion-label class="rank">  
          <h1>#3</h1>
          <h2>Equipe </h2>
        </ion-label>
      </div>
      <div class="user">
        <img src="assets/ranking/pp-outros4.svg">
        <ion-label class="rank">  
          <h1>#4</h1>
          <h2>Equipe </h2>
        </ion-label>
      </div>
    </div>

</ion-content>