<ion-content> 

  <div class="menu"><img src="assets/menu/menu.svg" (click)="openFirst()" alt="menu"></div>

  <div class="header-bg">

    <div class="primeiros-soc"><img src="assets/titulo/ranking.svg"></div>
 </div>

    <div class="nav">
      <img src="assets/ranking/pessoal.svg"> 
      <img src="assets/ranking/equipe-r.svg" (click)="showEquipe()"> 
    </div>

    <div class="header-content">
      <img src="assets/menu/pp.jpg">
    
      <ion-label>
        <h1>#1432</h1>
        <h2>Joãozinho Irmão</h2>
      </ion-label>
    </div>
    
    <div class="rank-geral">
      <ion-label class="rank">
        <img src="assets/ranking/pp-outros.svg">
        <h1>#1</h1>
        <h2>Nome Usuario</h2>
      </ion-label>
    </div>
 
</ion-content>